<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<JsonLayout compact="true" complete="false" eventEol="true" stackTraceAsString="true" properties="true" />
		</Console>

		<Sentry name="Sentry"/>
	</appenders>

	<loggers>
		<root level="INFO">
			<appender-ref ref="Console"/>
			<appender-ref ref="Sentry" level="ERROR"/>
		</root>
		<Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

	</loggers>
</configuration>
